doctype htm
html(lang = "es")
    head
        title = "Resgistro de usuarios"
    body
        h1 Selecciona la opcion que desee
        ul  
            li
                a(href = "/insertaUsuario") Insertar nuevo usuario
            li
                a(href = "/listaUsuarios") Listar todos los usuario